:root {
    --main-bg-color: #e7c4e4;
    --border-color: rgb(245, 78, 215);
    --container-width: 500px;
}
html, body {
    font-family: system-ui;
    background: var(--main-bg-color);
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    height: 98vh;
    margin-top: 5px;
    overflow: hidden;
}

.drop-zone{
    width: var(--container-width);
    min-height: 150px;
    border: 2px dashed var(--border-color);
    margin: 30px;
    border-radius: 10px;
    transition: all .2s ease;
}

body, .drop-zone, .upload-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.upload-container{
    background: white;
    border-radius: 25px;
    box-shadow: 0px 20px 20px grey;
}
.icon-container img{
    width: 75px;
    position: absolute;
    transform-origin: bottom;
    transition: transform 200ms ease-in-out;

}
.dragged.drop-zone{
    background: var(--main-bg-color);
    border-color: rgb(97, 52, 84);
}
.icon-container .center{
    z-index: 2;
}
.icon-container {
    width: 80px;
    position: relative;
    height: 100px;
}
.dragged .icon-container .left{
   transform:rotate(-10deg) translateX(-15px) scale(0.9);
   filter: grayscale(0.3);
}
.dragged .icon-container .right{
    transform: rotate(10deg) translateX(15px) scale(0.9);
    filter: grayscale(0.3);
}
.dragged .icon-container .center {
    transform: translateY(-5px);
}

#fileinp {
    display: none;
}
.browse{
    color: rgb(236, 93, 195);
    cursor: pointer;
}

.progressbar{
   width: var(--container-width);
   height: 70px;
   border: 2px solid var(--main-bg-color);
   margin-bottom: 30px;
   border-radius: 10px;
   position: relative;
   display: none;
}

.perc-box{
    opacity: 0.8;
    margin: 5px;
}

.progressbar .bg-progress{
    width: 0%;
    height: 100%;
    background: var(--main-bg-color);
    transform-origin: left;
    border-radius: 10px;
    transition: width .25s linear;
    position: absolute;
}

.progressbar .innerpart{
    position: absolute;
    z-index: 1;
    width: calc(100% - 30px);
}
.smallbar{
    height: 3px;
    width: 100%;
    background: rgb(97, 52, 84);
    transform-origin: left;
    border-radius: 2px;
    margin: 10px 15px;
    transform: scaleX(0);
    transition: transform 0.25s linear;
}

.sharingbox .inputbox input{
    width: 100%;
    border: 2px dashed var(--border-color);
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 20px;
    box-sizing: border-box;
    background: #f4e9f0;
    color: #ef35c7;
    opacity: 0.6;
}
.inputbox img{
    position: absolute;
    height: 23px;
    width: 30px;
    right: 7px;
    top: 12px;
    cursor: pointer;
    opacity: 0.6;
}

.sharingbox .inputbox{
    position: relative;
}
.sharingbox{
    width: var(--container-width);
    margin-bottom: 30px;
    display: none;
}
p.expire{
    opacity: 0.6;
    text-align: center;
}

.emailbox .field{
display: flex;
justify-content: space-between;
}
.emailbox form{
    width: 100%;
    border: 2px solid var(--border-color);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.emailbox label{
    margin: 5px;
    font-size: 16px;
}
.emailbox input {
    border: none;
    border-bottom: 2px solid var(--border-color);
    font-size: 16px;
    text-align: center;
  }
  
  .emailbox input:focus {
    outline: none;
  }
  .emailbox,
  .send-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.send-btn-container button {
    font-size: 16px;
    padding: 8px 40px;
    margin-top: 15px;
    background: var(--main-bg-color);
    border: none;
    border-radius: 5px;
    color: #613353;
    cursor: pointer;
  }